@font-face {
    font-family: 'travelfont';
    src: url('content/timetravel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: travelfont;
    margin: 0;
    padding: 0;
}

video {
    object-fit: fill;
}

#date {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: blue;
  background-color: whitesmoke;
  opacity: 0.6;
  border-radius: 1vw;
  padding: 1vw;
}

#image > img {
    position: fixed;
}

img.left-top {
    top: 8vw;
    left: 4vw;
}

img.right-top {
    top: 8vw;
    left: 72vw;
}

img.left-bottom {
    top: 28vw;
    left: 4vw;
}

img.right-bottom {
    top: 28vw;
    left: 72vw;
}

#image > img {
    width: 24vw;
    border-radius: 2vw;
    opacity: 0;
}

#date > * {
    display: inline-block;
}

#animation > * {
    font-size: 5vw;
}

select, span {
    font-size: 2.5vw;
    font-family: travelfont;
    border: 0;
}

.bc {
    color: red !important;
}


#set {
    background: url('content/set.png') no-repeat;
    background-size: cover;
    cursor:pointer;
    padding-top: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
}

#travel {
    background: url('content/button.png') no-repeat;
    background-size: cover;
    cursor:pointer;
    padding-top: 1vw;
    width: 4vw;
    height: 4vw;
    border: none;
}